<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">

<ui:define name="content">

  <f:view>
        <f:event type="preRenderView" listener="#{userBean.loadCurrentUser()}"/>
  </f:view>

  <h:form id="form1">
    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="false" />
  </h:form>
  
    <p:panel>
      <h3><h:outputText value="#{messages.profile_page}" /></h3>
      
      <h4><h:outputText value="#{messages.profile_my_data}" /></h4>
        
      <h:form prependId="false">
      <p:panel id="userEditPanel">
          
            <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">
              <h:outputText value="#{messages.field_label_user_username}:" />
              <h:outputText value="#{userBean.user.username}" />
              <h:outputText value="" />

              <h:outputText value="#{messages.field_label_user_email}:" />
              <h:outputText value="#{userBean.user.email}" />
              <h:outputText value="" />
    
              <h:outputText value="#{messages.field_label_user_roles}:" />
              <p:outputPanel>
                <ui:repeat value="#{userBean.user.roles}" var="role">
                    <h:outputText value="#{role}" /><br/>
                </ui:repeat>
              </p:outputPanel>
              <h:outputText value="" />
              
                <h:outputLabel value="#{messages.field_label_user_phone}:" for="phoneEditInput" />
                <p:inputText value="#{userBean.user.phone}" id="phoneEditInput" 
                    label="#{messages.field_label_user_phone}" />
                <p:message for="phoneEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_prenom}:" for="prenomEditInput" />
                <p:inputText value="#{userBean.user.prenom}" id="prenomEditInput" 
                    label="#{messages.field_label_user_prenom}" />
                <p:message for="prenomEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_nom}:" for="nomEditInput" />
                <p:inputText value="#{userBean.user.nom}" id="nomEditInput" 
                    label="#{messages.field_label_user_nom}" />
                <p:message for="nomEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_postnom}:" for="postnomEditInput" />
                <p:inputText value="#{userBean.user.postnom}" id="postnomEditInput" 
                    label="#{messages.field_label_user_postnom}" />
                <p:message for="postnomEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_pays}:" for="paysSelect" />
                <p:selectOneMenu value="#{userBean.user.pays}" converter="omnifaces.GenericEnumConverter"  id="paysSelect">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{userBean.paysSelectItems}" />
                </p:selectOneMenu>
                <p:message for="paysSelect" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_province}:" for="provinceSelect" />
                <p:selectOneMenu value="#{userBean.user.province}" converter="omnifaces.GenericEnumConverter"  id="provinceSelect">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{userBean.provinceSelectItems}" />
                </p:selectOneMenu>
                <p:message for="provinceSelect" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_adresse}:" for="adresseEditInput" />
                <p:inputText value="#{userBean.user.adresse}" id="adresseEditInput" 
                    label="#{messages.field_label_user_adresse}" />
                <p:message for="adresseEditInput" display="icon" />

              </h:panelGrid>
              
              <div>
                <p:commandButton value="#{messages.user_profile_submit}"
                    icon="ui-icon-disk" action="#{userBean.persist}"
                    update=":userEditPanel :growlForm:growl" />
                <p:commandButton action="#{userProfileBean.cancel}" value="#{messages.label_cancel}" immediate="true" />
              </div>

      </p:panel>
      </h:form>

      <h4><h:outputText value="#{messages.profile_page_password_change}" /></h4>
        
      <h:form prependId="false">
      <p:panel>
      <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">

        <h:outputText value="#{messages.user_profile_old_password}:" />
        <p:password value="#{userProfileBean.old_password}" id="passwordOldInput" required="true"
                      label="#{messages.user_profile_old_password}" />
        <p:message for="passwordOldInput" display="icon" />

        <h:outputText value="#{messages.user_profile_new_password}:" />
        <p:password value="#{userProfileBean.new_password}" id="passwordEditInput" required="true" match="passwordRepeatEditInput"
              label="#{messages.user_profile_new_password}" />
        <p:message for="passwordEditInput" display="icon" />
     
        <h:outputText value="#{messages.user_profile_new_password_repeat}:" />
        <p:password value="#{userProfileBean.new_password_repeat}" id="passwordRepeatEditInput" required="true"
              label="#{messages.user_profile_new_password_repeat}" />
        <p:message for="passwordRepeatEditInput" display="icon" />

      </h:panelGrid>
      
      <div>
        <p:commandButton action="#{userProfileBean.update}" value="#{messages.user_profile_submit}" icon="ui-icon-disk" />
        <p:commandButton action="#{userProfileBean.cancel}" value="#{messages.label_cancel}" immediate="true" />
      </div>
      
      </p:panel>
      </h:form>
      
    </p:panel>

</ui:define>
</ui:composition>
</html>