<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="content">

            <f:metadata>
                <f:viewParam name="id" value="#{noeudBean.noeud}" converter="#{genericEntityConverter}" />
            </f:metadata>

            <p:outputPanel id="noeudEditPanel">
                <h:form id="editNoeudForm">
                    <ui:include src="/pages/noeud/noeudEditInclude.xhtml"/>
                    <div style="margin:10px">
                        <p:commandButton value="#{messages.label_save}" icon="ui-icon-disk" actionListener="#{noeudBean.persist}"
                                         disabled="#{noeudBean.noeud.compteEnfant.status eq 'NONPAYE'}" action="/pages/noeud/noeud?faces-redirect=true" update=":noeudEditPanel :growlForm:growl" />
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close"
                                         action="/pages/noeud/noeud?faces-redirect=true" immediate="true" />
                    </div>
                </h:form>
            </p:outputPanel>

            <p:dialog dynamic="true" id="createCompteEnfantFromEditDialog"
                      rendered="#{noeudBean.isPermitted('compte:create')}"
                      header="#{messages.dialog_noeud_create_compteEnfant}" modal="true"
                      widgetVar="createCompteEnfantFromEditDialogWidget" maximizable="true">
                <p:ajax event="close" listener="#{compteBean.reset}" />
                <p:outputPanel id="createCompteEnfantFromEditPanel">
                    <h:form id="createCompteEnfantFromEditForm">
                        <ui:include src="/pages/compte/compteEditInclude.xhtml">
                            <ui:param name="hideNoeudSelectInput" value="true" />
                        </ui:include>
                        <div style="text-align: center; margin: 10px">
                            <p:commandButton
                                action="#{noeudBean.updateCompteEnfant(compteBean.compte)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{compteBean.persist}"
                                update=":editNoeudForm:compteEnfantSelectInput :createCompteEnfantFromEditPanel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createCompteEnfantFromEditDialogWidget').hide()" />
                            <p:commandButton value="#{messages.label_close}"
                                             icon="ui-icon-close"
                                             onclick="PF('createCompteEnfantFromEditDialogWidget').hide()"
                                             type="button" />
                        </div>
                    </h:form>
                </p:outputPanel>
            </p:dialog>

            <p:dialog dynamic="true" id="createCompteParentFromEditDialog"
                      rendered="#{noeudBean.isPermitted('compte:create')}"
                      header="#{messages.dialog_noeud_create_compteParent}" modal="true"
                      widgetVar="createCompteParentFromEditDialogWidget" maximizable="true">
                <p:ajax event="close" listener="#{compteBean.reset}" />
                <p:outputPanel id="createCompteParentFromEditPanel">
                    <h:form id="createCompteParentFromEditForm">
                        <ui:include src="/pages/compte/compteEditInclude.xhtml">
                            <ui:param name="hideNoeud2SelectInput" value="true" />
                        </ui:include>
                        <div style="text-align: center; margin: 10px">
                            <p:commandButton
                                action="#{noeudBean.updateCompteParent(compteBean.compte)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{compteBean.persist}"
                                update=":editNoeudForm:compteParentSelectInput :createCompteParentFromEditPanel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createCompteParentFromEditDialogWidget').hide()" />
                            <p:commandButton value="#{messages.label_close}"
                                             icon="ui-icon-close"
                                             onclick="PF('createCompteParentFromEditDialogWidget').hide()"
                                             type="button" />
                        </div>
                    </h:form>
                </p:outputPanel>
            </p:dialog>

        </ui:define>

    </ui:composition>
</html>