<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not noeudBean.isPermitted(noeudBean.noeud, 'noeud:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{noeudBean.isPermitted(noeudBean.noeud, 'noeud:read')}">
        
        <h:outputText value="#{messages.field_label_noeud_compteEnfant}:" />
        <h:outputText value="#{noeudBean.noeud.compteEnfant.id}" />

        <h:outputText value="#{messages.field_label_noeud_compteParent}:" />
        <h:outputText value="#{noeudBean.noeud.compteParent.id}" />

        <h:outputText value="#{messages.audit_created}:" />
        <h:panelGroup>
            <h:outputText value="#{noeudBean.noeud.createdAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{noeudBean.noeud.createdBy}"/>
        </h:panelGroup>
        
        <h:outputText value="#{messages.audit_modified}:" />
        <h:panelGroup>
            <h:outputText value="#{noeudBean.noeud.modifiedAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{noeudBean.noeud.modifiedBy}"/>
        </h:panelGroup>
        
    </h:panelGrid>
</html>