<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="content">

            <h:form prependId="false" id="noeudDataForm" onkeypress="if (event.keyCode == 13) {
                        return false;
                    }">

                <p:dataTable id="noeudTable" value="#{noeudBean.lazyModel}" var="noeud" resizableColumns="true" paginator="true"
                             paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                             paginatorPosition="bottom" widgetVar="noeudTable" emptyMessage="#{messages.label_no_records_found}"
                             reflow="true">

                    <f:facet name="header" >

                        <p:commandButton value="#{messages.create_new_noeud}" icon="ui-icon-plusthick"
                                         action="/pages/noeud/noeudCreate?faces-redirect=true"
                                         rendered="#{noeudBean.isPermitted('noeud:create')}" style="float:left" />

                        <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
                        <p:columnToggler datasource="noeudTable" trigger="toggler" />
                    </f:facet>

                    <p:column headerText="Compte enfant" sortBy="#{noeud.compteEnfant}" filterBy="#{noeud.compteEnfant}">

                        <h:outputText value="#{noeud.compteEnfant.id}" />
                    </p:column>

                    <p:column headerText="Compte parent" sortBy="#{noeud.compteParent}" filterBy="#{noeud.compteParent}">

                        <h:outputText value="#{noeud.compteParent.id}" />
                    </p:column>

                    <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">

                        <p:commandButton action="#{'/pages/noeud/noeudView?faces-redirect=true&amp;id='.concat(noeud.id)}"
                                         icon="ui-icon-zoomin"
                                         title="#{messages.label_view}" />

                        <p:commandButton action="#{'/pages/noeud/noeudEdit?faces-redirect=true&amp;id='.concat(noeud.id)}"
                                         icon="ui-icon-pencil"
                                         resetValues="true"
                                         rendered="#{noeudBean.isPermitted(noeud, 'noeud:update')}"
                                         title="#{messages.label_edit}" />

                        <p:commandButton icon="ui-icon-close" rendered="#{noeudBean.isPermitted(noeud, 'noeud:delete')}"
                                         oncomplete="PF('deleteNoeudDialogWidget').show()"
                                         title="#{messages.label_delete}" >
                            <f:setPropertyActionListener value="#{noeud}"
                                                         target="#{noeudBean.noeud}" />
                        </p:commandButton>

                    </p:column>

                </p:dataTable>

            </h:form>

            <p:confirmDialog id="deleteNoeudDialog" widgetVar="deleteNoeudDialogWidget"
                             rendered="#{noeudBean.isPermitted(noeudBean.noeud, 'noeud:delete')}" header="#{messages.label_confirm_deletion}"
                             severity="alarm">
                <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
                <p:outputPanel>
                    <h:form>
                        <div style="text-align: center; margin:10px">
                            <p:commandButton value="#{messages.label_yes}" action="#{noeudBean.delete}" update=":noeudDataForm :growlForm:growl" oncomplete="PF('deleteNoeudDialogWidget').hide()" />
                            <p:commandButton value="#{messages.label_no}" onclick="PF('deleteNoeudDialogWidget').hide()" type="button" />
                        </div>
                    </h:form>
                </p:outputPanel>
            </p:confirmDialog>

        </ui:define>
    </ui:composition>
</html>