<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid">

        <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-6" layout="grid" style="max-width:400px">

            <h:outputLabel value="#{messages.field_label_noeud_compteEnfant}:"  rendered="#{not hideCompteEnfantSelectInput}"/>

            <h:outputLabel value="#{noeudBean.noeud.compteEnfant.id}"/>
           

            <h:outputLabel value="#{messages.field_label_noeud_compteParent}:" for="compteParentSelectInput" rendered="#{not hideCompteParentSelectInput}"/>
            <h:panelGroup rendered="#{not hideCompteParentSelectInput}">
                <p:selectOneMenu value="#{noeudBean.noeud.compteParent}"
                                 id="compteParentSelectInput">
                    <f:selectItem noSelectionOption="true" itemLabel="#{noeudBean.noeud.compteParent.id}" />
                    <f:selectItems value="#{noeudBean.cmptParents}" 
                                   var="compte" 
                                   itemLabel="#{compte.id}"
                                   itemValue="#{compte}" />
                    <o:converter converterId="omnifaces.SelectItemsConverter" list="#{noeudBean.cmptParents}" />
                </p:selectOneMenu>
            </h:panelGroup>
          

        </p:panelGrid>

    </p:outputPanel>
</html>