<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <h:form>
            <p:menu>
                <p:submenu label="#{messages.menu_pages}">

                    <p:menuitem value="#{messages.menu_comptes}" url="/pages/compte/compte.xhtml" icon="icon-entity" ajax="false" async="false" />

                    <p:menuitem value="#{messages.menu_noeuds}" url="/pages/noeud/noeud.xhtml" icon="icon-entity" ajax="false" async="false" />

                </p:submenu>

                <p:submenu label="#{messages.menu_admin}" rendered="#{p:ifGranted('Administrator')}">
                    <p:menuitem value="Comptes de base" url="/pages/compte/compteBase.xhtml" icon="icon-entity" ajax="false" async="false" />
                    <p:menuitem value="#{messages.menu_user_management}" url="/pages/admin/user.xhtml" icon="ui-icon-person" ajax="false" async="false"/>
                    <p:menuitem value="Clients" url="/pages/admin/client.xhtml" icon="ui-icon-person" ajax="false" async="false"/>
                </p:submenu>

            </p:menu>
        </h:form>
    </ui:composition>
</html>