<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <o:validateEqual components="emailEditInput emailRepeatEditInput"
            showMessageFor="emailRepeatEditInput" message="#{messages.user_email_different_input}"/>

    <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">

        <h:outputLabel value="#{messages.field_label_user_username}:" for="usernameEditInput" />
        <p:inputText value="#{userBean.user.username}" id="usernameEditInput"
            label="#{messages.field_label_user_username}" disabled="#{not request.isUserInRole('Administrator')}" />
        <p:message for="usernameEditInput" display="icon" />
        
        <h:outputLabel value="#{messages.field_label_user_email}:" for="emailEditInput" />
        <p:inputText value="#{userBean.user.email}" id="emailEditInput" required="true"
            label="#{messages.field_label_user_email}" disabled="#{not request.isUserInRole('Administrator')}" />
        <p:message for="emailEditInput" display="icon" />
        
        <h:outputLabel value="#{messages.field_label_user_email_repeat}:" for="emailRepeatEditInput" 
            rendered="#{request.isUserInRole('Administrator')}" />
        <p:inputText value="#{userBean.user.email}" id="emailRepeatEditInput" required="true"
            label="#{messages.field_label_user_email_repeat}"
            rendered="#{request.isUserInRole('Administrator')}"/>
        <p:message for="emailRepeatEditInput" display="icon"
            rendered="#{request.isUserInRole('Administrator')}" />
        
        <h:outputLabel value="#{messages.field_label_user_roles}:" for="userRolesSelection"/>
        <p:selectManyCheckbox value="#{userBean.user.roles}" converter="omnifaces.GenericEnumConverter" id="userRolesSelection"
                layout="grid" columns="1">
            <f:selectItems value="#{userBean.rolesSelectItems}" />
        </p:selectManyCheckbox>
        <p:message for="userRolesSelection" display="icon" />
        
        <h:outputLabel value="#{messages.field_label_user_status}:" for="selectUserStatusInput" />
        <p:selectOneMenu value="#{userBean.user.status}" converter="omnifaces.GenericEnumConverter"  id="selectUserStatusInput" required="true">
            <f:selectItems value="#{userBean.statusSelectItems}" />
        </p:selectOneMenu>
        <p:message for="selectUserStatusInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_phone}:" for="phoneEditInput" />
                <p:inputText value="#{userBean.user.phone}" id="phoneEditInput" 
                    label="#{messages.field_label_user_phone}" />
                <p:message for="phoneEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_prenom}:" for="prenomEditInput" />
                <p:inputText value="#{userBean.user.prenom}" id="prenomEditInput" 
                    label="#{messages.field_label_user_prenom}" />
                <p:message for="prenomEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_nom}:" for="nomEditInput" />
                <p:inputText value="#{userBean.user.nom}" id="nomEditInput" 
                    label="#{messages.field_label_user_nom}" />
                <p:message for="nomEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_postnom}:" for="postnomEditInput" />
                <p:inputText value="#{userBean.user.postnom}" id="postnomEditInput" 
                    label="#{messages.field_label_user_postnom}" />
                <p:message for="postnomEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_pays}:" for="paysSelect" />
                <p:selectOneMenu value="#{userBean.user.pays}" converter="omnifaces.GenericEnumConverter"  id="paysSelect">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{userBean.paysSelectItems}" />
                </p:selectOneMenu>
                <p:message for="paysSelect" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_province}:" for="provinceSelect" />
                <p:selectOneMenu value="#{userBean.user.province}" converter="omnifaces.GenericEnumConverter"  id="provinceSelect">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{userBean.provinceSelectItems}" />
                </p:selectOneMenu>
                <p:message for="provinceSelect" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_adresse}:" for="adresseEditInput" />
                <p:inputText value="#{userBean.user.adresse}" id="adresseEditInput" 
                    label="#{messages.field_label_user_adresse}" />
                <p:message for="adresseEditInput" display="icon" />

    </h:panelGrid>
</html>