<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="content">

            <f:metadata>
                <f:viewParam name="id" value="#{compteBean.compte}" converter="#{genericEntityConverter}" />
            </f:metadata>

            <p:outputPanel id="compteEditPanel">
                <h:form id="editCompteForm">
                    <p:panelGrid rendered="#{p:ifGranted('Administrator')}" columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">

                        <h:outputLabel value="#{messages.field_label_compte_categorie}:" for="categorieEditInput1" />
                        <p:inputText value="#{compteBean.compte.categorie}"  id="categorieEditInput1" 
                                     label="#{messages.field_label_compte_categorie}" />
                        <p:message for="categorieEditInput1" display="icon" />

                    </p:panelGrid>
                    <div style="margin:10px">
                        <p:commandButton value="#{messages.label_save}" icon="ui-icon-disk" actionListener="#{compteBean.creerCompteBase}"
                                         action="/pages/compte/compteBase?faces-redirect=true" update=":compteEditPanel :growlForm:growl" />
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close"
                                         action="/pages/compte/compteBase?faces-redirect=true" immediate="true" />
                    </div>
                </h:form>
            </p:outputPanel>

        </ui:define>

    </ui:composition>
</html>