<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition template="/templates/layout.xhtml">
        <ui:define name="content">

             <!--
          Comptes client
            -->
            
            <h:form rendered="#{p:ifGranted('Registered')}">
                <p:commandButton value="#{messages.create_new_compte}" icon="ui-icon-plusthick"
                                 action="/pages/compte/cmptClient?faces-redirect=true"
                                 />

                <br></br>
                <hr></hr>
                <ui:repeat value="#{clientBean.comptes}" var="cmpt">
                    <div>
                        <h:outputLabel value="ID COMPTE : #{cmpt.id}"/><br></br>
                        <h:outputLabel value="CATEGORIE : #{cmpt.categorie} FC"/><br></br>
                        <h:outputLabel value="COMPTE PARENT : #{compteBean.compteParent(cmpt).id}"/><br></br>
                        <h:outputLabel value="COMPTE STATUS : #{cmpt.status}"/><br></br>
                        <h:outputLabel value="NOMBRE D'ENFANTS : #{clientBean.getNbreEnfs(cmpt)}"/><br></br>
                        <h:outputLabel value="MONEY : #{clientBean.getNbreEnfs(cmpt) * cmpt.categorie /10}"/><br></br>
                        <BR></BR>
                        <h:outputLabel value="NOMBRE D'ENFANTS 1: #{clientBean.nbreEnfParNiveau[0]}"/><br></br>
                        <h:outputLabel value="NOMBRE D'ENFANTS 2: #{clientBean.nbreEnfParNiveau[1]}"/><br></br>
                        <h:outputLabel value="NOMBRE D'ENFANTS 3: #{clientBean.nbreEnfParNiveau[2]}"/><br></br>
                        <h:outputLabel value="NOMBRE D'ENFANTS 4: #{clientBean.nbreEnfParNiveau[3]}"/><br></br>
                        <h:outputLabel value="NOMBRE D'ENFANTS 5: #{clientBean.nbreEnfParNiveau[4]}"/><br></br>
                        <h:outputLabel value="NOMBRE D'ENFANTS 6: #{clientBean.nbreEnfParNiveau[5]}"/><br></br>
                        <h:outputLabel value="NOMBRE D'ENFANTS 7: #{clientBean.nbreEnfParNiveau[6]}"/><br></br>

                    </div>
                    <hr></hr>
                </ui:repeat>
            </h:form>

            <!--
            Gestion des comptes par l'admin
            -->
            
            <h:form prependId="false" id="compteDataForm" rendered="#{p:ifGranted('Administrator')}" onkeypress="if (event.keyCode == 13) {
                        return false;
                    }">

                <p:dataTable id="compteTable" value="#{compteBean.lazyModel}" var="compte" resizableColumns="true" paginator="true"
                             paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                             paginatorPosition="bottom" widgetVar="compteTable" emptyMessage="#{messages.label_no_records_found}"
                             reflow="true">

                    <f:facet name="header" >

                        <p:commandButton value="#{messages.create_new_compte}" icon="ui-icon-plusthick"
                                         action="/pages/compte/compteCreate?faces-redirect=true"
                                         rendered="#{compteBean.isPermitted('compte:create')}" style="float:left" />

                        <p:commandButton value="Creer un compte de base" icon="ui-icon-plusthick"
                                         action="/pages/compte/cmptAdmin?faces-redirect=true"
                                         rendered="#{p:ifGranted('Administrator')}" style="float:left" />

                        <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
                        <p:columnToggler datasource="compteTable" trigger="toggler" />
                    </f:facet>
                    
                    <p:column headerText="Compte id" sortBy="#{compte.id}" filterBy="#{compte.id}">
                        <h:outputText value="#{compte.id}" ><f:convertNumber /></h:outputText>
                    </p:column>
                    
                    <p:column headerText="#{messages.field_label_compte_categorie}" sortBy="#{compte.categorie}" filterBy="#{compte.categorie}">
                        <f:facet name="filter">
                            <p:inputText id="categorieFilter"
                                         onkeypress="if (event.keyCode == 13) {
                                                     PF('compteTable').filter();
                                                     updateCategorieFilter();
                                                     return false;
                                                 }" >
                                <p:remoteCommand name="updateCategorieFilter" update="compteTable:categorieFilter" />
                                <f:convertNumber integerOnly="true" />
                            </p:inputText>
                        </f:facet>
                        <h:outputText value="#{compte.categorie}" ><f:convertNumber /></h:outputText>
                    </p:column>




                    <p:column headerText="#{messages.field_label_compte_client}" sortBy="#{compte.client}" filterBy="#{compte.client}">
                        <f:facet name="filter">
                            <p:selectOneMenu  id="clientFilter"
                                              style="width:145px;"
                                              onchange="PF('compteTable').filter();
                                                      return false;">
                                <f:selectItem noSelectionOption="true" itemLabel="" />
                                <f:selectItems itemLabel="#{user.username}"
                                               value="#{compteBean.clients}" 
                                               var="user" 
                                               itemValue="#{user}" />
                                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{compteBean.clients}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{compte.client.username}" />
                    </p:column>

                    <p:column headerText="#{messages.field_label_compte_status}"
                              sortBy="#{compte.status}" filterBy="#{compte.status}">
                        <f:facet name="filter">
                            <p:selectOneMenu id="statusFilter"
                                             style="width:145px;"
                                             onchange="PF('compteTable').filter();
                                                     return false;" >
                                <f:selectItem noSelectionOption="true" itemLabel="" />
                                <f:selectItems value="#{compteBean.statusSelectItems}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{compteBean.getLabelForStatus(compte.status)}" />
                    </p:column>

                    <p:column headerText="#{messages.field_label_noeud_compteParent}" sortBy="#{compte.categorie}" filterBy="#{compte.categorie}">
                        <h:outputText value="#{compteBean.compteParent(compte).id}" ></h:outputText>
                    </p:column>
                    <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">

                        <p:commandButton action="#{'/pages/compte/compteView?faces-redirect=true&amp;id='.concat(compte.id)}"
                                         icon="ui-icon-zoomin"
                                         title="#{messages.label_view}" />

                        <p:commandButton action="#{'/pages/compte/compteEdit?faces-redirect=true&amp;id='.concat(compte.id)}"
                                         icon="ui-icon-pencil"
                                         resetValues="true"
                                         rendered="#{compteBean.isPermitted(compte, 'compte:update')}"
                                         title="#{messages.label_edit}" />

                        <p:commandButton icon="ui-icon-close" rendered="#{compteBean.isPermitted(compte, 'compte:delete')}"
                                         oncomplete="PF('deleteCompteDialogWidget').show()"
                                         title="#{messages.label_delete}" >
                            <f:setPropertyActionListener value="#{compte}"
                                                         target="#{compteBean.compte}" />
                        </p:commandButton>

                    </p:column>

                </p:dataTable>

            </h:form>

            <p:confirmDialog id="deleteCompteDialog" widgetVar="deleteCompteDialogWidget"
                             rendered="#{compteBean.isPermitted(compteBean.compte, 'compte:delete')}" header="#{messages.label_confirm_deletion}"
                             severity="alarm">
                <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
                <p:outputPanel>
                    <h:form>
                        <div style="text-align: center; margin:10px">
                            <p:commandButton value="#{messages.label_yes}" action="#{compteBean.delete}" update=":compteDataForm :growlForm:growl" oncomplete="PF('deleteCompteDialogWidget').hide()" />
                            <p:commandButton value="#{messages.label_no}" onclick="PF('deleteCompteDialogWidget').hide()" type="button" />
                        </div>
                    </h:form>
                </p:outputPanel>
            </p:confirmDialog>

        </ui:define>
    </ui:composition>
</html>