<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not compteBean.isPermitted(compteBean.compte, 'compte:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{compteBean.isPermitted(compteBean.compte, 'compte:read')}">
        
        <h:outputText value="#{messages.field_label_compte_categorie}:" />
        <h:outputText value="#{compteBean.compte.categorie}" />

        <h:outputText value="#{messages.field_label_compte_client}:" />
        <h:outputText value="#{compteBean.compte.client.username}" />

        <h:outputText value="#{messages.field_label_compte_status}:" />
        <h:outputText value="#{compteBean.getLabelForStatus(compteBean.compte.status)}" />

        <h:outputText value="#{messages.audit_created}:" />
        <h:panelGroup>
            <h:outputText value="#{compteBean.compte.createdAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{compteBean.compte.createdBy}"/>
        </h:panelGroup>
        
        <h:outputText value="#{messages.audit_modified}:" />
        <h:panelGroup>
            <h:outputText value="#{compteBean.compte.modifiedAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{compteBean.compte.modifiedBy}"/>
        </h:panelGroup>
        
    </h:panelGrid>
</html>