<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid">

        <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">

            <h:outputLabel value="#{messages.field_label_compte_id}:" for="idEditInput" />
            <p:inputText value="#{compteBean.compte.id}"  id="idEditInput" 
                         label="#{messages.field_label_compte_id}" />
            <p:message for="idEditInput" display="icon" />

            <h:outputLabel value="#{messages.field_label_compte_categorie}:" for="categorieEditInput" />
            <p:inputText value="#{compteBean.compte.categorie}"  id="categorieEditInput" 
                         label="#{messages.field_label_compte_categorie}" />
            <p:message for="categorieEditInput" display="icon" />

            <h:outputLabel value="#{messages.field_label_compte_client}:" for="clientSelectInput" rendered="#{not hideClientSelectInput}"/>
            <h:panelGroup rendered="#{not hideClientSelectInput}">
                <p:selectOneMenu value="#{compteBean.compte.client}"
                                 id="clientSelectInput">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{compteBean.clients}" 
                                   var="user" 
                                   itemLabel="#{user.username}"
                                   itemValue="#{user}" />
                    <o:converter converterId="omnifaces.SelectItemsConverter" list="#{compteBean.clients}" />
                </p:selectOneMenu>
            </h:panelGroup>
            <h:panelGroup rendered="#{not hideClientSelectInput}">

                <p:message for="clientSelectInput" display="icon" rendered="#{not hideClientSelectInput}"/>
            </h:panelGroup>

            <h:outputLabel value="#{messages.field_label_compte_status}:" for="statusSelect" />
            <p:selectOneMenu value="#{compteBean.compte.status}" converter="omnifaces.GenericEnumConverter"  id="statusSelect">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems value="#{compteBean.statusSelectItems}" />
            </p:selectOneMenu>
            <p:message for="statusSelect" display="icon" />

        </p:panelGrid>
        <hr></hr>
        <ui:remove>
        <p:panelGrid rendered="#{p:ifGranted('Administrator')}" columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">

            <h:outputLabel value="#{messages.field_label_noeud_compteParent}:" for="compteParentSelectInput" rendered="#{not hideCompteParentSelectInput}"/>
            <h:panelGroup rendered="#{not hideCompteParentSelectInput}">
                <p:selectOneMenu value="#{noeudBean.noeud.compteParent}"
                                 id="compteParentSelectInput">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{compteBean.cmptParents}" 
                                   var="compte" 
                                   itemLabel="#{compte.id}"
                                   itemValue="#{compte}" />
                    <o:converter converterId="omnifaces.SelectItemsConverter" list="#{compteBean.cmptParents}" />
                </p:selectOneMenu>
            </h:panelGroup>

        </p:panelGrid>
        </ui:remove>
    </p:outputPanel>



</html>